package {{modPackage}};

import net.fabricmc.api.ModInitializer;
import net.ninjadev.ninjamulti.api.Services;

public class {{modClassName}}Fabric implements ModInitializer {

    @Override
    public void onInitialize() {
        {{modClassName}}Common.init(Services.createRegistrationHelper(Constants.MOD_ID));
    }
}
